 <div class="user-details">
  <div class="user">
  <div class="tech">
  <h2> My Expertise </h2>
  <p> {{site.user_description}} </p>
  <p> My achievements and certificates on <a href="https://www.credly.com/users/josip-bognar/badges">Credly</a> website </p>
</div>

</div></div>
  <div class="user">
    <div class="tech">
      <h2>TechStack</h2>
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/azure/azure-original.svg" height="70px" />
      
      <i class="devicon-docker-plain colored"></i>
      <p>I utilize numerious platforms such as Azure, PowerPlatform, M365, ELK stack, SEIM solutions, Patching solutions, Docker, Kuberneties, RMM solutions, Vulnerability Management platforms etc.</p>
    </div>
    <div class="tech">
      <h2>Scripting/Dev</h2>
      <i class="devicon-github-original colored"></i>
      <i class="devicon-bash-plain colored"></i>
      <i class="devicon-python-plain colored"></i>
      <p>Having background in FullStack development, I utilize PowerShell, Git, Bash, Gulp, Python and many other scripting languages depend on a business needs.</p>
    </div>
    
</div>
