<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/darktrace.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> DarkTrace </h3>
    <ul>
      <li> Implementation, Managing, Incident handling</li>
    </ul>
    <p>This is not isolated case project, I work with more then 70 SMB's and help them in different stages of managing or implementation. From deploying the physical/virtual appliances, scripting deployment from RMM or Intune, configuring infrastructure/SaaS to managing incidents.</p>
    <a class="project-link" href="https://darktrace.com/">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/lm.gif" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> LogicMonitor </h3>
    <ul>
      <li> Implementation, Managing, Automation</li>
    </ul>
    <p>For many clients, I've deployed solution into their infrastructure and connected them to flows and ticketing systems. Tuning up the monitoring system, setting up forecasts and building topology maps, I am also a certified LogicMonitor professional.</p>
    <a class="project-link" href="https://www.logicmonitor.com/">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/auvik.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Auvik </h3>
    <ul>
      <li> Implementation, Managing, CW integration</li>
    </ul>
    <p>I've helped many SMB's to have better network visibility by implementing Auvik in their infrastructure. This is a great tool to manage your assets and understanding root-cause of many subtle issues. I am Auvik Certified Professional.</p>
    <a class="project-link" href="https://www.auvik.com/">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/cw.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> ConnectWise </h3>
    <ul>
      <li> Implementation, Managing, Automation</li>
    </ul>
    <p>This is continous project of onboarding and offboarding clients. I manage all aspect of platform including native scripting, dataviews, patching, Controle, Manage, Brightgauge, Automate.</p>
    <a class="project-link" href="https://www.connectwise.com/">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/qualys.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Cybersecurity Assessment </h3>
    <ul>
      <li> Implementation, Managing, Report, Vulnerability Management</li>
    </ul>
    <p>I've helped many SMB's to have a better understanding of their cybersecurity posture and maturity. By utilizing NIST, CIS, MITRE frameworks and Qualys VM tool, I am giving them reports on the security status of their infrastructure such as on-prem, Microsoft 365, Azure, and 3rd-party applications and also suggesting the best approach taking into consideration Impact and Probability</p>
    <a class="project-link" href="https://www.qualys.com/">Check it out</a>
  </div>
</div>